body.folio {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body.folio a,
body.folio a:hover,
body.folio a:focus-visible {
  color: inherit;
  text-decoration: none;
}
