$main-color: #3C78BD;

html{
	font-family: avenir, arial, sans-serif;
	font-size: 12px;
}
body{
	margin: 0;
	padding:0;
}
.flex{
	display: flex;
}
header{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	// border: solid 1px #eee;
	h1, p, a{
		margin: 0;
		padding: 0.5rem 1rem;
		display: block;
		flex: 1;
		text-align: center;
		font-size: 1rem;
		text-decoration: none;
	}
	a{
		color: #333;
		border-left: 1px solid #eee;
	}
	
}
#wrapper{
	// display: flex;
	padding: 2rem;
	max-width: 800px;
	margin: 0 auto;

}
.skills{
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	list-style: none;
	li{
		border: solid 1px #eee;
		font-size: 0.8rem;
		padding: 0.5rem 1rem;
		margin: 0 4px 4px 0;
	}
}
.list{
	padding: 0;
	margin: 0 0 0 1.15rem;
	li{
		margin-top: 0.5em;
	}
}

aside{
	padding: 2rem;
	order: 2;
	h1{
		margin: 0;
		color: $main-color;
		// text-transform: uppercase;
		font-size: 1.5rem;
		+ p{
			margin: 0;
			font-size: 1.5rem
		}
	}
	.contact{
		margin: 1rem 0 0;
		padding: 0;
		list-style: none;
		li{
			margin-top: 0.5rem;
		}
	}
}
main{
	flex: 1;
	padding: 2rem;
	
}
h2{
		color: #E0107D;
		margin: 0;
		text-transform: uppercase;
		font-size: 1rem;
		margin-bottom: 1rem;
		~ h2{
			margin-top: 2rem;
		}
	}

.lead{
	font-size: 1.3rem;
	margin: 0 0 2rem;
	font-weight: 500;
	display: flex;
	color: white;
	border-radius: 5px;
	align-items: center;
	// border-bottom: solid 1px #333;
	padding: 2rem 170px 2rem 2rem;
	position: relative;
	background: #E0107D;
	img{
		height: auto;
		width: 130px;
		order: 2;
		margin-left: 2rem;
		position: absolute;
		bottom: 0;
		right: 2rem;
	}
}	

h3{
	margin: 0;
	font-size: 1rem;
	+ p{
		margin: 0 0 1rem;
		font-style: italic;
	}
}

h4{
	margin: 0 0 1rem;
	font-weight: 300;
}

.acc{
	margin-top: 1rem;
	padding: 1rem 0;
	border-top: dotted 1px #ccc;
	// background: #FFFDF6;
	// border-radius: 17px;
}

.job{
	+.job{
		margin-top: 2rem;
	}
}