html {
  font-family: avenir, arial, sans-serif;
  font-size: 12px; }

body {
  margin: 0;
  padding: 0; }

.flex {
  display: flex; }

header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; }
  header h1, header p, header a {
    margin: 0;
    padding: 0.5rem 1rem;
    display: block;
    flex: 1;
    text-align: center;
    font-size: 1rem;
    text-decoration: none; }
  header a {
    color: #333;
    border-left: 1px solid #eee; }

#wrapper {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto; }

.skills {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none; }
  .skills li {
    border: solid 1px #eee;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0 4px 4px 0; }

.list {
  padding: 0;
  margin: 0 0 0 1.15rem; }
  .list li {
    margin-top: 0.5em; }

aside {
  padding: 2rem;
  order: 2; }
  aside h1 {
    margin: 0;
    color: #3C78BD;
    font-size: 1.5rem; }
    aside h1 + p {
      margin: 0;
      font-size: 1.5rem; }
  aside .contact {
    margin: 1rem 0 0;
    padding: 0;
    list-style: none; }
    aside .contact li {
      margin-top: 0.5rem; }

main {
  flex: 1;
  padding: 2rem; }

h2 {
  color: #E0107D;
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1rem; }
  h2 ~ h2 {
    margin-top: 2rem; }

.lead {
  font-size: 1.3rem;
  margin: 0 0 2rem;
  font-weight: 500;
  display: flex;
  color: white;
  border-radius: 5px;
  align-items: center;
  padding: 2rem 170px 2rem 2rem;
  position: relative;
  background: #E0107D; }
  .lead img {
    height: auto;
    width: 130px;
    order: 2;
    margin-left: 2rem;
    position: absolute;
    bottom: 0;
    right: 2rem; }

h3 {
  margin: 0;
  font-size: 1rem; }
  h3 + p {
    margin: 0 0 1rem;
    font-style: italic; }

h4 {
  margin: 0 0 1rem;
  font-weight: 300; }

.acc {
  margin-top: 1rem;
  padding: 1rem 0;
  border-top: dotted 1px #ccc; }

.job + .job {
  margin-top: 2rem; }
