<!-- DESIGN -->
<section id="design" class="panel container">
    <article>
        <h2>Design</h2>
        <p class="blurb">Define the challenge. Set goals. Test. Test. Test.  </p>  

		<!-- AT&T Search -->
        <div class="project">
        	<p class="thumb"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243277/att.jpg" alt=""></p>
        	<div class="info">
	        	<p class="role">Interaction Design / Visual Design</p>
	        	<h3 class="title">att.com Search</h3>
	        	<p class="desc">Get to the right results fast.</p>
	        	<a href="/project/search.html" class="cta">Read more</a>
        	</div>
        </div>

        <!-- Media Manager -->
        <div class="project">
        	<p class="thumb"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243277/media-logo.jpg" alt=""></p>
        	<div class="info">
	        	<p class="role">UX Research / Interaction Design / Visual Design</p>
	        	<h3 class="title">Media Manager</h3>
	        	<p class="desc">A better way to bring all of your digital media together.</p>
	        	<a href="/project/media.html" class="cta">Read more</a> 
        	</div>
        </div>

        <!-- AR App -->
        <div class="project">
        	<p class="thumb"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243277/ar_logo.jpg" alt=""></p>
        	<div class="info">
	        	<p class="role">Interaction Design / Visual Design</p>
	        	<h3 class="title">Augmented Reality App Redesign</h3>
	        	<p class="desc">Scan images to bring them to life!</p>
	        	<a class="cta" href="/project/ar.html">Read more</a>
        	</div>
        </div>

        <!-- inCar -->
        <div class="project">
        	<p class="thumb"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/243277/in-car.jpg" alt=""></p>
        	<div class="info">
	        	<p class="role">UX Research / Interaction Design / Visual Design</p>
	        	<h3 class="title">InCar UI Concept</h3>
	        	<p class="desc">Stay focused on what matters.</p>
	        	<a class="cta soon">Read more</a>
        	</div>
        </div>
    </article>
</section>

