<!-- EDUCATION -->
<!-- <div class="spacer" style="background-image: url('/assets/img/education.jpg')"></div>
 --><section id="education" class="panel container">
    <article>
        <h2>Education</h2>
        <img src="http://www.fullsail.edu/assets/src/img/home/slide-01.jpg" alt="Full Sail University">
        <h3>College</h3>
        <p>In 2008, I went to Full Sail University in Orlando, Florida to learn what it takes to be a designer.</p>

        <img src="https://i.ytimg.com/vi/s5y-4EpmfRQ/maxresdefault.jpg" alt="YouTube Logo">
        <h3>Online Courses</h3>
        <p>Using online courses, I've expanded my skill set in coding, business, analytics, and user-testing.</p>
    </article>
</section>