<!-- EDUCATION -->
<!-- <div class="spacer" style="background-image: url('/assets/img/education.jpg')"></div>
 --><section id="education" class="panel container">
    <article>
        <h2>Education</h2>
        <img src="http://www.fullsail.edu/assets/src/img/home/slide-01.jpg" alt="Full Sail University">
        <h3>College</h3>
        <p>In 2008, I went to an awesome school in Orlando, Florida called <strong>Full Sail University</strong> to learn about what makes a designer. I learned that there was a ton more to being a designer than being clever with Photoshop. Another thing that stuck with me since my college experience is that learning doesn't stop when you leave the classroom.</p>

         <img src="https://i.ytimg.com/vi/s5y-4EpmfRQ/maxresdefault.jpg" alt="YouTube Logo">
        <h3>Online Courses</h3>
        <p>I began my career making graphics for everything from websites to billboards. As I started picking up landing pages, apps, and more complex products, I started to learn new skills in order to focus more on the bigger picture. </p>
        <p>Using online courses, I dove into coding, business, analytics, testing, and started to teach myself everything I could about the rest of the software development process.</p>
    </article>
</section>