<!-- EXPERIENCE -->
<!-- <div class="spacer" style="background-image: url('/assets/img/experience.jpg')"></div> -->
<section id="experience" class="panel container">
    <article>
        <h2>Experience</h2> 
        
        <img src="http://cdn.patch.com/users/78058/2013/01/T800x600/7d32534c82a2f06441b8eb8b5a9f54ae.jpg" alt="YouTube Logo">
        <h3>HP Inc. // UX Lead // 2015 - Current</h3>
        <p>My role at HP Inc. is to provide UX design support and direction for various HP products including marketing tools, augmented reality software, and promotional landing pages.</p>
        <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2014/04/at-t.jpg" alt="AT&amp;T Building">
        <h3>AT&amp;T Digital Experience // Sr. UX Designer // 2010 - 2015</h3>
        <p>I started with AT&amp;T right out of college. In my time with AT&amp;T, I was responsible for the Visual and Interaction design of customer-facing products. I worked with many teams over the years working on advertising, online bill-pay, and customer support tools.</p>

        
    </article>
</section>