<header class="page-header">
  <div id="collapse" class="frame">
    <div class="container"><a href="/assets/img/aaron-benjamin-resume.pdf" class="flag"><i class="fa fa-file-pdf-o"></i>Download</a></div>
    <nav data-gumshoe-header class="main-nav container">
      <input type="checkbox" name="toggle" id="menuToggle" class="menu-toggle">
      <label for="menuToggle"></label>
      <ul data-gumshoe>
        <li><a data-scroll href="#intro">Intro</a></li>
        <li><a data-scroll href="#design">Design</a></li>
        <li><a data-scroll href="#education">Education</a></li>
        <li><a data-scroll href="#skills">Skills</a></li>
        <li><a data-scroll href="#experience">Experience</a></li>
      </ul>
    </nav>
    <div class="logo-box container">                        
      <div class="logo">
        <h1>Aaron Benjamin </h1>
        <a href="https://twitter.com/aBenjamin765" target="_blank" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://dribbble.com/aBenjamin765" target="_blank"><i class="fa fa-dribbble"></i></a>
        <a href="http://codepen.io/abenjamin/" target="_blank" title="Check out my Code Pens"><i class="fa fa-codepen"></i></a>
        <a href="https://github.com/abenjamin765" target="_blank" title="Grab a fork!"><i class="fa fa-github"></i></a>
        <a href="mailto:abenjamin765@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        <p>UX Designer</p>
      </div>
    </div>
  </div>
</header>
