<!-- INTRO -->
<section id="intro" class="panel container">
    <article class="pad">
        <p class="huge">Hello!</p>
        <p class="blurb">I believe design is a tool meant to solve problems in the service of others.</p>
        <p>In 2010, a systems architect named Scott Hanselman wrote in his blog, “There are a finite number of keystrokes left in your hand before you die.” In fact, I quote Scott frequently, especially when asked what exactly a “designer” does. As Hanselman so eloquently put it, “The core function of a designer is to remember this and remind others.”</p>
        <p>My “adult-career-job” is working with the brilliant people at HP Inc where I help engineers and product stakeholders participate in the design process to make some pretty amazing things.</p>
        <p>My favorite ongoing project is being a Dad to my little girl. She’s a limitless source of inspiration, joy, and heart-melting giggles. She keeps me on my toes and sparks new ideas.</p>
    </article>
</section>