<!-- INTRO -->
<section id="intro" class="panel container">
    <article class="pad">
        <p class="huge">Hello!</p>
        <p class="blurb">I'm a UX Designer and I believe design can be used to solve problems in the service of other people.</p>
        <p>My mission is to demonstrate the value of Design Thinking by inviting the people I work with to participate in the creative process and delivering measurable results.</p>
        <p>I'm a strong advocate for process. I've seen evidence over my career that great design is the product of great process.</p>
        <p>My favorite project to date is being a Dad to my little girl. She’s a limitless source of inspiration, joy, and heart-melting giggles. She keeps me on my toes and keeps my imagination sharp.</p>
    </article>
</section>