<!-- SKILLS -->
<!-- <div class="spacer" style="background-image: url('/assets/img/skills.jpg')"></div> -->
<section id="skills" class="panel container">
    <div class="pad">
        <h2>Skills</h2>
        <h3>Core</h3>
        <dl>
            <dt>Writing</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Beginner-ish)</i>
            </dd>
        </dl>
        <dl>
            <dt>Learning</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>Communication</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>Organization</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Moderate)</i>
            </dd>
        </dl>
        
        <h3>Design</h3>
        <dl>
            <dt>Interaction Design</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i>(Master)</i>
            </dd>
        </dl>
        <dl>
            <dt>Visual Design</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i>(Master)</i>
            </dd>
        </dl>
        <dl>
            <dt>Prototyping</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Moderate)</i>
            </dd>
        </dl>
        <dl>
            <dt>Animation</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Moderate)</i>
            </dd>
        </dl>
        <dl>
            <dt>UX Research</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>UI Architecture</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Moderate)</i>
            </dd>
        </dl>

        <h3>Technology</h3>
        <dl>
            <dt>Adobe Photoshop</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>Adobe Illustrator</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>Sketch</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i>(Master)</i>
            </dd>
        </dl>
        <dl>
            <dt>Adobe InDesign</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Moderate)</i>
            </dd>
        </dl>
        <dl>
            <dt>Framer</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Beginner)</i>
            </dd>
        </dl>
        <dl>
            <dt>Principle</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>HTML/CSS</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i>(Advanced)</i>
            </dd>
        </dl>
        <dl>
            <dt>JavaScript</dt>
            <dd>
                <i class="dot"></i>
                <i class="dot"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i class="dot fade"></i>
                <i>(Beginner-ish)</i>
            </dd>
        </dl>

    </div>
        
</section>
