body {
  margin: 0;
  color: #333; }

.dark {
  background-color: #333;
  color: white;
  font-weight: bold; }
  .dark .meta li {
    background: #333 !important;
    border: solid 1px white; }
  .dark h4 {
    color: white; }
  .dark + .block {
    margin-top: 0 !important; }

#wrapper {
  max-width: 1024px;
  margin: 0 auto;
  background-color: white; }

.block {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 20px; }
  .block + .block {
    border-top: solid 1px #ccc;
    margin-top: 0; }

h4 {
  text-transform: uppercase;
  color: #999; }

header {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: solid 2px #ccc; }
  header h3 span {
    font-weight: normal;
    color: #666; }
    header h3 span:before {
      content: '//';
      margin: 0 5px;
      color: #ccc;
      font-weight: normal; }

.meta {
  padding: 0; }
  .meta li {
    display: inline;
    list-style: disc;
    display: inline-block;
    background-color: #f4f4f4;
    padding: 4px 15px;
    margin: 0 2px 5px 0; }

.job p {
  margin: 3px 0 0; }

.job + .job {
  margin-top: 20px;
  border-top: dotted 1px #ccc; }

.title h3 {
  color: #333;
  text-transform: none; }
  .title h3 span:before {
    content: '//';
    margin: 0 5px;
    color: #ccc;
    font-weight: normal; }

strong + ul {
  margin-top: 5px; }

.threecol {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; }

.skills {
  padding-right: 20px; }
  .skills ul {
    list-style: none;
    padding: 0; }
    .skills ul li {
      display: inline-block;
      background-color: #f4f4f4;
      padding: 4px 15px;
      margin: 0 2px 5px 0; }

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 81.25%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.3em; }
  ul li, ol li {
    line-height: 1.5rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.4713333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }
  table td, table th {
    padding: 0;
    line-height: 19.5px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }
