html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.3); }
  60% {
    transform: scale(1.1);
    opacity: 0.5; }
  90% {
    transform: scale(0.9); }
  100% {
    opacity: 1;
    border-radius: 0; } }

.gradient {
  padding: 50px 0;
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
  background: #f2f2f2;
  background: -moz-linear-gradient(45deg, #f2f2f2 1%, #ffffff 100%);
  background: -webkit-linear-gradient(45deg, #f2f2f2 1%, #ffffff 100%);
  background: linear-gradient(45deg, #f2f2f2 1%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=1 );
  position: relative;
  box-sizing: border-box; }

.dark {
  background: #333;
  padding: 50px 0; }
  .dark h2, .dark p {
    color: white; }
  .dark a {
    color: #F36C55; }

.pop {
  animation: pop 0.5s ease; }

body {
  font-family: helvetica, arial, sans-serif; }

a {
  color: #0072FF;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.action {
  background: #F36C55;
  color: white;
  padding: 10px 30px;
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-weight: 200; }
  .action:hover {
    background: #D9614C;
    padding: 10px 50px;
    text-decoration: none; }

h2 {
  font-size: 2rem;
  color: #333; }

.center-text {
  text-align: center; }

.lead {
  font-size: 1rem;
  color: #666;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.4rem; }

#wrapper {
  max-width: 800px;
  margin: 0 auto; }

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1280px;
  margin: 0 auto; }
  @media screen and (max-width: 800px) {
    .flex {
      flex-direction: column; } }

.page-header h1 {
  font-size: 0.8rem;
  text-align: center;
  padding: 1.5em;
  text-transform: uppercase;
  color: #999; }
  .page-header h1 small {
    font-size: 1.5rem;
    display: block;
    padding: 0.25em;
    color: #333; }

.hero {
  text-align: center;
  position: relative;
  padding: 20px; }
  .hero img {
    width: 100%;
    height: auto;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin-bottom: 3em; }
  .hero .big {
    font-size: 8rem;
    font-weight: 900; }
    @media screen and (max-width: 800px) {
      .hero .big {
        font-size: 5rem; } }
  .hero .little {
    font-size: 1.5rem;
    font-weight: 200;
    color: #F36C55; }
    @media screen and (max-width: 800px) {
      .hero .little {
        font-size: 1rem;
        line-height: 1.5em; } }
  .hero .social {
    margin: 2em auto;
    box-sizing: border-box;
    display: block;
    text-align: center; }
    .hero .social li {
      display: inline-block;
      margin: 10px 0; }
      .hero .social li a {
        display: block;
        padding: 4px 30px;
        color: #999; }
        .hero .social li a:hover i {
          color: #333; }
      .hero .social li + li {
        border-left: solid 1px #e6e6e6; }

.showcase {
  padding: 50px 0;
  overflow: hidden;
  text-align: center;
  position: relative; }
  .showcase .screen-block {
    padding: 20px;
    display: block; }
    .showcase .screen-block img {
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
      border-radius: 15px;
      height: auto;
      max-width: 100%;
      margin: 30px 0; }
  .showcase + .showcase {
    border-top: solid 1px #eee; }

.pad-block {
  padding: 50px; }
  .pad-block p {
    line-height: 1.4;
    margin-top: 20px; }

.card {
  flex: 50% 0 0;
  box-sizing: border-box;
  padding: 10px; }
  .card img {
    width: 100%;
    height: auto; }
  @media screen and (max-width: 800px) {
    .card {
      flex: 1; } }

.video-box {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  overflow: hidden; }
  .video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tools {
  text-align: center; }
  .tools li {
    display: inline-block;
    height: 130px;
    width: 100px;
    overflow: hidden;
    margin: 10px; }
    .tools li img {
      width: 100%;
      height: auto;
      padding-top: 30px;
      transition: all 0.5s ease; }
    .tools li span {
      font-size: 12px;
      margin-top: 10px;
      display: block;
      font-weight: 700; }
    .tools li:hover img {
      padding-top: 0; }
